<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWalletSimulator" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="KMA.APZRP2019.WalletSimulator.Server.WCFServer.ServBehavior">
          
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:11113/WalletSimulatorImpl"
        behaviorConfiguration="KMA.APZRP2019.WalletSimulator.Server.WCFServer.ServBehavior"
        binding="basicHttpBinding" contract="KMA.APZRP2019.WalletSimulator.Server.Interface.IWalletSimulator"
        name="Server" />
      <endpoint address="http://localhost:50212/WalletWCFServiceIIS.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWalletSimulator"
        contract="WalletWCFServiceIIS.IWalletSimulator" name="BasicHttpBinding_IWalletSimulator" />
    </client>
  </system.serviceModel>  
</configuration>